.fedi{
    display: flex;
    justify-content: center;
    height: 50px;
    box-sizing: border-box;
    background: rgb(139, 133, 133);

}
.fedi a{
    margin-left: 40px;
    margin-top: 12px;
    color:black;
    font-family: sans-serif;
    font-weight: 550;
    text-decoration: none;
}